## 导入相关的包

In [1]:
import pandas as pd
import numpy as np

#消除Warning
import warnings
warnings.filterwarnings("ignore")

## 读取油品数据集

In [2]:
data = pd.read_excel('data/oil_data_for_tree.xlsx')
data.head()

,uid,oil_actv_dt,create_dt,total_oil_cnt,pay_amount_total,class_new,bad_ind,oil_amount,discount_amount,sale_amount,amount,pay_amount,coupon_amount,payment_coupon_amount,channel_code,oil_code,scene,source_app,call_source
0,A8217710,2018-08-19,2018-08-17,275.0,48295495.4,B,0,3308.56,1760081.0,1796001.0,1731081.0,8655401.0,1.0,1.0,1,3,2,0,3
1,A8217710,2018-08-19,2018-08-16,275.0,48295495.4,B,0,4674.68,2487045.0,2537801.0,2437845.0,12189221.0,1.0,1.0,1,3,2,0,3
2,A8217710,2018-08-19,2018-08-15,275.0,48295495.4,B,0,1873.06,977845.0,997801.0,961845.0,4809221.0,1.0,1.0,1,2,2,0,3
3,A8217710,2018-08-19,2018-08-14,275.0,48295495.4,B,0,4837.78,2526441.0,2578001.0,2484441.0,12422201.0,1.0,1.0,1,2,2,0,3
4,A8217710,2018-08-19,2018-08-13,275.0,48295495.4,B,0,2586.38,1350441.0,1378001.0,1328441.0,6642201.0,1.0,1.0,1,2,2,0,3

查看数据相关信息

计算下坏账率

## 将特征根据不同情况分为3类

- org_lst 不需要做特殊变换，直接去重

- agg_lst 数值型变量做聚合

- dstc_lst 文本型变量做cnt

In [ ]:
org_lst = ['uid','create_dt','oil_actv_dt','class_new','bad_ind']
agg_lst = ['oil_amount','discount_amount','sale_amount','amount','pay_amount','coupon_amount','payment_coupon_amount']
dstc_lst = ['channel_code','oil_code','scene','source_app','call_source']

数据重组

## 对特征creat_dt进行补全

对creat_dt做补全，用oil_actv_dt来填补，并且截取6个月的数据。  
构造变量的时候不能直接对历史所有数据做累加。  
否则随着时间推移，变量分布会有很大的变化。

In [4]:
#这里对creat_dt做补全，用oil_actv_dt来填补，并且截取6个月的数据。

In [ ]:
# 这里可以看出，筛选掉日期差大于180天的数据后，减少了将近5000左右的数据

## 对特征org_list进行处理

对org_list求历史贷款天数的最大间隔，并且去重

## 变量衍生（重点）

对dstc_lst变量求distinct个数

将变量组合在一起

## 用决策树进行训练

输出决策树图像，并作出决策

In [ ]:
import pydotplus 
from IPython.display import Image
from sklearn.externals.six import StringIO
with open("dt.dot", "w") as f:
    tree.export_graphviz(dtree, out_file=f)
dot_data = StringIO()

In [ ]:
import os
 #这是我自己的路径，注意修改你的路径
os.environ["PATH"] += os.pathsep + 'D:/软件/graphviz-2.38/release/bin/' 
Image(graph.create_png())

重新计算坏账率

生成策略